.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  height: env(safe-area-inset-top);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.box {
  flex: 1;
  background: linear-gradient(to bottom right, #FD8618, #F8E00A00);
}

.content {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr;
  gap: 16px;
  padding: 16px;
}

.card {
  background-color: #eee;
  height: 100px;
  width: 90%;
  border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px -1px 10px 0px rgba(0, 0, 0, 0.2);
}

.nav-icon {
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
}

.big-block {
  height: 25vh;
  background: linear-gradient(to top, #ec9418, #e1972f, #f09517, #f8b195, #d2a64f, #c0a06c);
  background-size: 100% 200%;
  animation: gradient 10s ease-in-out infinite alternate;
}

@keyframes gradient {
  0% {
    background-position: bottom;
  }
  100% {
    background-position: top;
  }
}






.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #fbc261;
}

.color-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background-image: linear-gradient(to bottom right, #FD8618, #FFE70B80);
  z-index: -1;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  /* top: 90%; */
  /* margin-bottom: 10px; */
  left: 0;
  width: 100%;
  height: 10%;
  /* padding: 0 16px; */
  box-sizing: border-box;
}


.round-icon {
  position: relative;
  bottom: 145px; /* adjust the value to fit your design */
  left: 10%;
  transform: translateX(-50%);
  z-index: 2;
  height: 80px !important;
  width: 80px !important;
  border-radius: 50%;
  background-color: #ffffff;
}

#round-icon-profile {
  position: relative;
  left: 50%;
  top:20%;
  width: 100px;
  height: 100px;
}

.profile-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 50px;
  background-color: #cccccc;
  border-radius: 10px;
  margin: 10px auto;
  padding: 10px;
  font-size: 18px;
  text-align: center;
}
.profile-card:last-child {
  height: 700px;
}

h2 {
  position: relative;
  text-align: center;
  margin-top: 20px;
  margin-bottom: -70px;
}


.big-board{
  padding: 50px 0;
  text-align: center;
  height: 15vh;
  background: linear-gradient(to top, #ec9418, #e1972f, #f09517, #f8b195, #d2a64f, #c0a06c);
  animation: gradient 10s ease-in-out infinite alternate;
  color: white;
  
}

.big-board .h1 {
  position: absolute
}



.meeting-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  overflow: hidden;
  width: 80%;
}



.photo {
  background-color: #ddd;
  display: flex;
  align-items: relative;
  justify-content: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.photo img {
  width: 100%;
  height: auto;
}


.details {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
  width: calc(100% - 100px);
}

.details p {
  font-size: 16px;
  margin: 10px 0;
}

.details p:first-of-type {
  font-weight: bold;
}

.details p:last-of-type {
  color: #999;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc();
}
